<h1 class="pagetitle">New Article</h1>

<%= render 'form' %>

<p id="back"><%= link_to 'Back', posts_path %></p>

<script type="text/javascript">
	document.getElementById("title").innerHTML = "New Article"
</script>